:root {
    --body-color: #e4e9f7;
    --sidbar-color: #fff;
    --primery-color: #10870e;
    --primery-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;


    --tran--02: all 0.2s ease;
    --tran--03: all 0.3s ease;
    --tran--04: all 0.4s ease;
    --tran--05: all 0.5s ease;
}

body.dark {
    --body-color: #18191a;
    --sidbar-color: #242526;
    --primery-color: #4CAF50;
    --primery-color-light: #3a3b3c;
    --toggle-color: #ddd;
    --text-color: #ccc;
}


.house {
    background-color: var(--sidbar-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 6px solid var(--primery-color); /* Green border */
    transition:0.1s ease-in-out; /* Smooth transition */
}

.house:hover {
    border-left: 10px solid var(--primery-color);
}

.house h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 18px;
}

.house p {
    margin: 5px 0;
    font-size: 16px;
}



