/* CSS to style the container and charts */
.graph {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Add space between the charts */
    width: 850px; /* Adjust the width of the charts */
    height: auto;
    margin-left: 20px;
}

.anomalies{
    margin-left: 20px;

}

